# ignore
jsconfig.json
coffeelint.json
.vscode/

password.json
config.*.json
config.user.bak

ygopro-7210srv
ygopro-222DIY
ygopro-2pick

/bak
/config
/ygopro
/windbot
/decks/
/decks_save*
/replays
/node_modules
/ssl
/ygosrv233
/dash.json

test*
*.heapsnapshot
*.tmp
*.bak
*.log

*.map

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

*.csv

config.user.bak
